<p>
    <mat-toolbar color="primary">
      <span>My Application</span>
      <span class="spacer"></span>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" >
            <mat-button-toggle value="list" (change)="changeView($event.value)"  checked="true"><mat-icon aria-hidden="false" aria-label="List View" fontIcon="view_list"></mat-icon></mat-button-toggle>
            <mat-button-toggle value="grid" (change)="changeView($event.value)"><mat-icon aria-hidden="false" aria-label="Grid View" fontIcon="grid_view"></mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
    </mat-toolbar>
</p>
<p>
    <app-list [viewMode]="viewMode"></app-list>
</p>
