<div *ngIf="viewMode==='list'" >
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of anime" style="height: auto;">
            <a [routerLink]="['/detail',item.id]" style="display: inline-flex;width: 100%;">
                <app-card [viewMode]="viewMode" class="list" [anime]="item"></app-card>   
            </a>
        </mat-list-item>
        <mat-divider style="margin-bottom: 1em; margin-top: 1em;"></mat-divider>
        
      </mat-list>
</div>
<div *ngIf="viewMode==='grid'" class="grid" style="margin:1em auto; max-width: 1500px;">
  <app-grid [animeList]="anime"></app-grid>
</div>

<mat-paginator [length]="longitud"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page"
              (page)="getPage($event)">
</mat-paginator>

<!--
<div *ngIf="viewMode==='grid'" class="grid">
    
            <a href="#">
                <mat-card class="card">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-divider style="margin-bottom: 1em; margin-top: 1em;"></mat-divider>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    
                  </mat-card>
                  
            </a>
            <a href="#">
                <mat-card class="card">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-divider style="margin-bottom: 1em; margin-top: 1em;"></mat-divider>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    
                  </mat-card>
                  
            </a>
            <a href="#">
                <mat-card class="card">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-divider style="margin-bottom: 1em; margin-top: 1em;"></mat-divider>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    
                  </mat-card>
                  
            </a>
            <a href="#">
                <mat-card class="card">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-divider style="margin-bottom: 1em; margin-top: 1em;"></mat-divider>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    
                  </mat-card>
                  
            </a>
       
</div>
-->