.card {
    max-width: 350px;
    min-width: 223px;
}



.content {
    display: inline-flex;
    align-self: center;
    align-content: center;
}

.spacer {
    flex: 1 1 auto;
}

.horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


